<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>genres</title>
</head>
<style>
  *{
     background-color:#fff;

   }
  .a{
        overflow: hidden;
        float: right;
        text-decoration: none;
       
       
      
        

   }
   .b{
        height: 30px;
        border-radius: 15px;
        text-align: center;
        color: rgba(0, 0, 0, 0.771);


   }

</style>
<body>
<center><h1 style="color:orange"> GENRE</h1></center><hr>


  <div class="a">
    <form method="post" >{% csrf_token %}
      <div style="margin-top:30px;"><input type="search" name="searchcity" placeholder="search city..."  >
      <input type="submit" value="search" style="background:blue;color:white;border-radius70px;border:transparent;height:25px;"></div>
  </form>
   
  </div>
  <div>
    <p><center><h3>Popular Movies<h3></center></p><br><br><br><br>
    {{data|safe}}

  </div>
  <br>
  <br>
  <br>
  <br>
  <div>
    <img src="data:image/png;base64,{{image}}" style="width:800px;height:500px;"><br>
  </div>

<

</body>
</html>