<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

</head>
<body>
<center ><div style="font-size:25px"><h2 style="color:violet;font-style:sans-serif" > Movie Statistics</h2></div></center>
<div>
    <p><b>2017 Highest Grossing Movies</b></p>
{{data|safe}}
<img src="data:image/png;base64,{{image}}" style="width:800px;height:500px;"><br>

</div>
<hr>
<br>
<br>
<br>
<div>
    
{{data|safe}}
<img src="data:image/png;base64,{{image}}" style="width:800px;height:500px;"><br>
    
    

</div>

</body>
</html>